<div class="container" style="margin-top: 10%;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-2">
                <div class="card-body">
                    <h5 class="card-title" style="margin-bottom: 20px;">Datos del Formulario</h5>
                    <p><strong>Nombre:</strong> {{ datosObtenidos.nombre }}</p>
                    <p><strong>Email:</strong> {{ datosObtenidos.email }}</p>
                    <a href="/" role="button" class="btn btn-success">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>